<div class="maindiv">
  <li class="nav justify-content-start nav-link nav-item" ><span class="badge bg-secondary" style="margin-top: auto; margin-bottom: auto;">Ecart</span></li>
  <ul class="nav justify-content">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li>
  </ul>
</div>
